@model PCShop.Models.LoginViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<div class="card-header text-center">
    <a href="~/Content/assets/index2.html" class="h1"><b>Admin</b>LTE</a>
</div>
<div class="card-body">
    <p class="login-box-msg">Đăng nhập để tiếp tục thao tác</p>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="input-group mb-3">
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            @*<input type="password" class="form-control" placeholder="Password">*@
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                    @*<input type="checkbox" id="remember">*@
                    @Html.CheckBoxFor(x => x.RememberMe, new { @id = "remember" })
                    <label for="remember">
                        Lưu đăng nhập
                    </label>
                </div>
            </div>
        </div>
        <div class="social-auth-links text-center mt-2 mb-3">
            <button type="submit" class="btn btn-block btn-danger">
                Đăng nhập
            </button>

        </div>
        <!-- /.social-auth-links -->
    }
</div>
<!-- /.card-body -->
