@model IEnumerable<PCShop.Models.EF.Product>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        var tempImg = item.productImages.FirstOrDefault(x => x.isDefault);
        var img = tempImg != null ? tempImg.image : "";
        var sale = @item.price - @item.priceSale;
        <div class="product-item @item.productCategory.alias">
            <div class="product discount product_filter">
                <div class="product_image">
                    <img src="@img" alt="@item.title">
                </div>
                <div class="favorite favorite_left"></div>
                @if (Convert.ToInt32(sale) < item.price)
                {
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                        <span>
                            GIẢM GIÁ
                        </span>
                    </div>
                }
                @if (item.isNew)
                {
                    <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>mới</span></div>
                }
                <div class="product_info">
                    <h6 class="product_name"><a href="/san-pham/@item.alias-p@(item.id)">@item.title</a></h6>
                    @if (item.priceSale > 0)
                    {

                        <div class="product_price">@PCShop.Models.Common.CommonHelper.ConvertMoney(@item.priceSale)đ<span>@PCShop.Models.Common.CommonHelper.ConvertMoney(@item.price)đ</span></div>
                    }
                    else
                    {
                        <div class="product_price">@PCShop.Models.Common.CommonHelper.ConvertMoney(@item.price)đ</div>
                    }
                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.id">Thêm vào giỏ hàng</a></div>
        </div>
    }
}
