@model PCShop.Models.EF.Product
@{
    ViewBag.Title = "Sửa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm sản phẩm</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Sửa sản phẩm</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true);
                @Html.HiddenFor(x => x.id)
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="title">Tên sản phẩm</label>
                                @Html.TextBoxFor(x => x.title, new { @class = "form-control", @placeholder = "Chuột không dây" })
                                @Html.ValidationMessageFor(x => x.title, null, new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="exampleInputEmail1" >*@
                            </div>
                            <div class="form-group">
                                <label for="description">Mô tả</label>
                                @Html.TextBoxFor(x => x.description, new { @class = "form-control", @placeholder = "Chuột không dây Akko" })
                                @Html.ValidationMessageFor(x => x.description, null, new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Danh mục phụ kiện">*@
                            </div>
                            <div class="form-group">
                                <label>SKU</label>
                                @Html.TextBoxFor(x => x.productCode, new { @class = "form-control", @placeholder = "Mã sản phẩm" })
                                @Html.ValidationMessageFor(x => x.productCode, null, new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Danh mục phụ kiện">*@
                            </div>
                            <div class="form-group">
                                <label>Danh mục sản phẩm</label>
                                @Html.DropDownListFor(x => x.categoryID, ViewBag.productCategoryID as SelectList, "Chọn danh mục", new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.categoryID, null, new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Danh mục phụ kiện">*@
                            </div>
                            <div class="form-group">
                                <label for="description">Chi tiết</label>
                                @Html.TextAreaFor(x => x.detail, new { @class = "form-control", @id = "txtDetail" })
                                @Html.ValidationMessageFor(x => x.detail, null, new { @class = "text-danger" })
                                @*<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Danh mục phụ kiện">*@
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="description">Giá gốc</label>
                                        @Html.TextBoxFor(x => x.price, new { @class = "form-control", @id = "txtPrice", @placeholder = "Giá gốc..." })
                                        @Html.ValidationMessageFor(x => x.price, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="description">Giá khuyến mãi</label>
                                        @Html.TextBoxFor(x => x.priceSale, new { @class = "form-control", @id = "txtSale", @placeholder = "Giá khuyến mãi" })
                                        @Html.ValidationMessageFor(x => x.priceSale, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="description">Số lượng</label>
                                        @Html.TextBoxFor(x => x.quantity, new { @class = "form-control", @placeholder = "Số lượng sản phẩm" })
                                        @Html.ValidationMessageFor(x => x.quantity, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="description">Thuộc tính sản phẩm</label>
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(x => x.isNew, new { @class = "custom-control-input", @id = "checkIsNew" })
                                            <label for="checkIsNew" class="custom-control-label">Hàng mới về</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(x => x.isSale, new { @class = "custom-control-input", @id = "checkIsSale" })
                                            <label for="checkIsSale" class="custom-control-label">Hàng giảm giá</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!--<div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="description">Quản lý ảnh sản phẩm</label>
                            <table class="table table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ảnh</th>
                                        <th width="300">Chọn làm ảnh đại diện</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody id="tbImg">-->
                                    @*khanh*@
                                <!--</tbody>
                            </table>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <input class="btn btn-primary" onclick="BrowserServer('txtImg');" value="Upload" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <input type="hidden" id="tempID" value="0" />
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-success">Sửa thông tin sản phẩm</button>
                </div>
            }
        </div>
        <!-- /.card -->
    </div>
    <!-- /.container-fluid -->
</section>

@section scripts{
    <script>

        $(document).ready(function () {
            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });
        });

    </script>
}


